@font-face {
  font-family: Graphik;
  src: url(graphik-14.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Graphik;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black !important;
}
.nav_container {
  width: 100%;
}

.nb_container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nb_list_container {
  width: 40%;
}

.nb_list {
  width: 100%;
  justify-content: space-around;
}

.nb_link {
  color: black;
}

.home_container {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 0%;
  text-align: center;
}

.popular_usa_container {
  width: 50%;
  margin: 0 auto;
}

.music_card {
  margin: 0 0 0 0;
  width: calc(100% / 6);
  text-align: center;
}

.music_list {
  width: 100%;
  margin: 0 0 0 -16px;
}

.mc_artist_title {
}

.mc_artist {
  margin: 0 0 15px 0;
}

.mc_title {
  margin: 0 0 15px 0;
}

.track_info_container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
