@font-face {
  font-family: Graphik;
  src: url(graphik-14.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Graphik;
  color: #d8e0e8;
}

html,
body {
  min-height: 100vh;
  background-color: #14181c;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #d8e0e8 !important;
}

.row {
  width: 50%;
  margin: 0 auto;
}
.nb_container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 12px 0px 12px 0px;
}

.nb_site_title {
  font-size: 28px;
}

.nb_list_container {
  width: 40%;
}

.nb_list {
  width: 100%;
  justify-content: space-around;
}

.footer {
  background-color: #14181c;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px;
}

.home_container {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 0%;
  text-align: center;
}

.music_card {
  margin: 0 0 0 0;
  width: calc(100% / 6);
  text-align: center;
}

.music_list {
  width: 100%;
  margin: 0 0 0 -16px;
}

.mc_artist {
  margin: 0 0 15px 0;
}

.mc_title {
  margin: 0 0 15px 0;
}

.track_info_container {
  margin-bottom: 50px;
  display: flex;
}

.track_description_container {
  margin: 0 0 0 50px;
  max-width: 871px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.track_stats_container {
  justify-content: space-around;
}

.track_credits_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.track_lyrics_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
